<h1>This is the Music Library Homepage</h1>

<a href='/albums'>Get the list of albums</a>
<br>
<a href='/artists'>Get the list of artists</a>
<br>
<a href='/albums/new'>Create a new album</a>
<br>
<a href='/artists/new'>Create a new artist</a>
  

