<form method="POST" action="/albums">
  <label for="title">Title: </label>
  <input type="text" name="title">
    <input type="submit">
  <label for="release_year">Release Year: </label>
  <input type="text" name="release_year">
    <input type="submit">
  <label for="artist_id">Artist ID: </label>   

  <input type="text" name="artist_id">
    <input type="submit">

</form>