

<form method="POST" action="/artists">
  <label for="name">Artist name:</label>
  <input type="text" name="name">
  <input type="submit">
  <label for="genre">Genre:</label>
  <input type="text" name="genre">
  <input type="submit">
</form>